body{
    background: black;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto:
  margin-bottom: auto;
  width: 50%;
  border-radius: 30%;
}
h1{
    text-align: center;
	font-family: 'sans-serif', sans-serif;
    color: white;
}
p{
    text-align: center;
    font-family: 'sans-serif', sans-serif;
    color: white;
}
